<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="cc.css">
</head>
<body>
    <h1>模板语法</h1>
    <a href="https://github.com/aui/art-template/wiki/syntax:native">原生模板语法</a>
    <a href="https://github.com/aui/art-template/wiki/syntax:simple">精简模板语法</a>
    <div>动态参数：<%= age %></div>

    <div><%= a.body %></div>

    <div><%= a1.body %></div>

    <div>
        <% for( i = 0; i < list.length; i++ ){ %>
        <p><%= list[i].id %></p>
        <% } %>
    </div>

    dasdadasddsadsadasd
    111111111
1222
    3
    <form action="/hello" method="post">
        <input type="text" name="name" />
        <input type="submit" value="提交" />
    </form>
</body>
</html>



